/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Root variables */
:root {
  --blue: hsl(223, 87%, 63%);
  --gray: hsl(0, 0%, 59%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

/* HTML, body styles */
body {
  font-family: "Libre Franklin";
}

/* Utility styles */
.container {
  max-width: 90%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

/* FontAwesome styles */
.fas {
  color: var(--light-red);
}

/* Actual styles */
.header h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.header h3 {
  font-weight: lighter;
  font-size: 25px;
  margin-bottom: 18px;
  letter-spacing: 1.1px;
}

.header h3 span {
  font-weight: 900;
}

.header p {
  font-size: 15px;
}

/* Media Queries */

/* Additional styles */
.attribution {
  font-size: 20px;
  text-align: center;
}

.attribution a {
  color: var(--blue);
  text-decoration: none;
}

/*
  We are launching soon!

  Subscribe and get notified

  Notify Me

  &copy; Copyright Ping. All rights reserved.
 */
