/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Root variables */
:root {
  --blue: hsl(223, 87%, 63%);
  --gray: hsl(0, 0%, 59%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --very-dark-blue: hsl(209, 33%, 12%);
  --white: #fff;
  --black: #000;
}

/* HTML, body styles */
body {
  font-family: "Libre Franklin";
}

/* Utility styles */
.container {
  max-width: 90%;
  min-height: 100vh;
  /* https://stackoverflow.com/a/45762747/11399514 */
  margin: auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

/* FontAwesome styles */
.fas {
  color: var(--light-red);
}

.fab {
  border: 1px solid var(--pale-blue);
  border-radius: 30px;
  color: var(--blue);
  margin: 5px;
  padding: 10px;
}

/* Actual styles */
.header h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: clamp(1.5rem, 2.5vw, 7rem);
}

.header h3 {
  font-weight: 100;
  font-size: clamp(1.5rem, 2.5vw, 9rem);
  color: var(--gray);
  margin-bottom: 18px;
  letter-spacing: 1.1px;
}

.header h3 span {
  font-weight: 900;
  color: var(--black);
}

.header p {
  font-weight: lighter;
  font-size: 15px;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.newsletter form > * {
  padding: 13px;
  border-radius: 100px;
  margin: 5px;
}

.email {
  outline: none;
  border: 1px solid var(--pale-blue);
  /* https://stackoverflow.com/a/37277907/11399514 */
  text-indent: 20px;
}

::placeholder {
  color: var(--pale-blue);
}

.notifyButton {
  background-color: var(--blue);
  border: none;
  color: var(--white);
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.notifyButton:hover {
  opacity: 0.8;
  letter-spacing: 1.5px;
}

.illustration {
  max-width: 800px;
  margin: auto;
  margin-top: 75px;
}

.socialShare {
  margin-top: auto;
  margin-bottom: 30px;
}

.socialShare p {
  font-size: 13px;
  color: var(--gray);
  margin-top: 15px;
}

/* Media Queries */
@media (min-width: 675px) {
  .newsletter form {
    max-width: 650px;
    margin: auto;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
  }

  .email {
    flex-basis: 60%;
  }

  .notifyButton {
    flex-basis: 40%;
  }
}

/* Additional styles */
.attribution {
  font-size: 20px;
  text-align: center;
}

.attribution a {
  color: var(--blue);
  text-decoration: none;
}
