/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Root variables */
:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: #fff;
  --black: #000;
}

/* Utility styles */
li {
  list-style: none;
}

/* FontAwesome styles */

/* Actual styles */
.showcase {
  background: url("../images/desktop/image-header.jpg") no-repeat center/cover;
  height: 100vh;
  color: var(--white);
  font-family: "Barlow";
  position: relative;
}

.showcase h1 {
  text-align: center;
  font-size: 75px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: "Fraunces";
  margin-top: 150px;
}

.showcase .mainmenu {
  display: flex;
  align-items: center;
  padding: 15px;
}

.showcase .mainmenu .innerMenu {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.innerMenu li {
  border: 1px dashed white;
  margin: 8px;
  padding: 8px;
}

.innerMenu li:hover {
  background: var(--white);
  color: var(--black);
}

.content {
  display: flex;
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

.contentText > * {
  width: 50%;
}

.contentImage {
  flex-basis: 50%;
}

.contentImage img {
  width: 100%;
}

.contentText h1 {
  font-family: "Fraunces";
  font-size: 45px;
  margin-bottom: 25px;
}

.contentText p {
  font-family: "Barlow";
  margin-bottom: 30px;
  line-height: 1.5;
  color: var(--grayish-blue);
}

/* Media queries */

/* Additional styles */
.attribution {
  font-size: 20px;
  text-align: center;
  display: none;
}

.attribution a {
  color: var(--soft-red);
}
