/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Root variables */
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

/* HTML, body styles */
body {
  font-family: "Poppins", sans-serif;
}

/* Utility styles */
.container {
  max-width: 80%;
  margin: auto;
  padding-top: 50px;
}

.lead {
  font-weight: lighter;
  color: var(--grayish-blue);
}

.leadP {
  font-weight: 400;
  font-size: 13px;
  color: var(--grayish-blue);
}
/* FontAwesome styles */
/* Actual styles */
.header {
  max-width: 550px;
  margin: auto;
  text-align: center;
}

.header p {
  margin-top: 10px;
  font-size: 15px;
}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 50px 0;
}

.container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

.card {
  max-width: 350px;
  padding: 25px;
  box-shadow: -2px 6px 14px -3px rgba(186, 186, 186, 1);
  border-radius: 8px;
}

.card h3 {
  margin-bottom: 8px;
}

.card .icon {
  display: flex;
  justify-content: flex-end;
  margin-top: 55px;
}

.card1 {
  border-top: 4px solid var(--cyan);
}

.card2 {
  border-top: 4px solid var(--red);
}

.card3 {
  border-top: 4px solid var(--orange);
}

.card4 {
  border-top: 4px solid var(--blue);
}
/* Media queries */

/* Additional styles */
.attribution {
  font-size: 19px;
  text-align: center;
}
.attribution a {
  color: var(--red);
}
