/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Root variables */
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

/* HTML, body styles */
body {
  font-family: "Poppins", sans-serif;
}

/* Utility styles */
.container {
  max-width: 80%;
  margin: auto;
}

.lead {
  font-weight: lighter;
  color: var(--grayish-blue);
}
/* FontAwesome styles */
/* Actual styles */
/* Media queries */

/* Additional styles */
.attribution {
  font-size: 19px;
  text-align: center;
}
.attribution a {
  color: var(--red);
}
