/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Root variables */
:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --secondary-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --white: #fff;
}

/* Utility styles */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-gray);
  font-family: karla;
}

.container {
  padding: 8px;
}

/* Font-Awesome styles */

/* Actual styles */
.showcase {
  background: var(--white);
  padding: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 650px;
}

.showcase h2 {
  color: var(--primary-cyan);
  margin-bottom: 22px;
}

.showcase h3 {
  color: var(--secondary-yellow);
  margin-bottom: 15px;
  font-weight: 400;
}

.showcase p {
  color: var(--grayish-blue);
  margin-bottom: 8px;
}

/* Footer styles */
footer {
  background: var(--secondary-yellow);
  width: 100%;
  margin-top: auto;
  padding: 18px;
  font-size: 20px;
  font-family: karla;
  position: absolute;
  bottom: 0;
}

.attribution {
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
